.dtpcnt {
    opacity: 0;
}

@media (max-width: 1000px) {
    header {
        margin-bottom: 20px !important;
    }
}

#custom-count{
  background-color: red;
  color: white;
  font-size: 10px;
  border-radius: 100%;
  padding: 0px 4px;
  top: -3px;
  right: -2px;
  position: absolute;
}

svg:not(:root).svg-inline--fa {
    overflow: visible
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em
}

.svg-inline--fa.fa-lg {
    vertical-align: -.225em
}

.svg-inline--fa.fa-w-1 {
    width: .0625em
}

.svg-inline--fa.fa-w-2 {
    width: .125em
}

.svg-inline--fa.fa-w-3 {
    width: .1875em
}

.svg-inline--fa.fa-w-4 {
    width: .25em
}

.svg-inline--fa.fa-w-5 {
    width: .3125em
}

.svg-inline--fa.fa-w-6 {
    width: .375em
}

.svg-inline--fa.fa-w-7 {
    width: .4375em
}

.svg-inline--fa.fa-w-8 {
    width: .5em
}

.svg-inline--fa.fa-w-9 {
    width: .5625em
}

.svg-inline--fa.fa-w-10 {
    width: .625em
}

.svg-inline--fa.fa-w-11 {
    width: .6875em
}

.svg-inline--fa.fa-w-12 {
    width: .75em
}

.svg-inline--fa.fa-w-13 {
    width: .8125em
}

.svg-inline--fa.fa-w-14 {
    width: .875em
}

.svg-inline--fa.fa-w-15 {
    width: .9375em
}

.svg-inline--fa.fa-w-16 {
    width: 1em
}

.svg-inline--fa.fa-w-17 {
    width: 1.0625em
}

.svg-inline--fa.fa-w-18 {
    width: 1.125em
}

.svg-inline--fa.fa-w-19 {
    width: 1.1875em
}

.svg-inline--fa.fa-w-20 {
    width: 1.25em
}

.svg-inline--fa.fa-pull-left {
    margin-right: .3em;
    width: auto
}

.svg-inline--fa.fa-pull-right {
    margin-left: .3em;
    width: auto
}

.svg-inline--fa.fa-border {
    height: 1.5em
}

.svg-inline--fa.fa-li {
    width: 2em
}

.svg-inline--fa.fa-fw {
    width: 1.25em
}

.fa-layers svg.svg-inline--fa {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.fa-layers {
    display: inline-block;
    height: 1em;
    position: relative;
    text-align: center;
    vertical-align: -.125em;
    width: 1em
}

.fa-layers svg.svg-inline--fa {
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.fa-layers-counter,
.fa-layers-text {
    display: inline-block;
    position: absolute;
    text-align: center
}

.fa-layers-text {
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.fa-layers-counter {
    background-color: #ff253a;
    border-radius: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    height: 1.5em;
    line-height: 1;
    max-width: 5em;
    min-width: 1.5em;
    overflow: hidden;
    padding: .25em;
    right: 0;
    text-overflow: ellipsis;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top right;
    transform-origin: top right
}

.fa-layers-bottom-right {
    bottom: 0;
    right: 0;
    top: auto;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: bottom right;
    transform-origin: bottom right
}

.fa-layers-bottom-left {
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left
}

.fa-layers-top-right {
    right: 0;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top right;
    transform-origin: top right
}

.fa-layers-top-left {
    left: 0;
    right: auto;
    top: 0;
    -webkit-transform: scale(.25);
    transform: scale(.25);
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.fa-lg {
    font-size: 1.3333333333em;
    line-height: .75em;
    vertical-align: -.0667em
}

.fa-xs {
    font-size: .75em
}

.fa-sm {
    font-size: .875em
}

.fa-1x {
    font-size: 1em
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-6x {
    font-size: 6em
}

.fa-7x {
    font-size: 7em
}

.fa-8x {
    font-size: 8em
}

.fa-9x {
    font-size: 9em
}

.fa-10x {
    font-size: 10em
}

.fa-fw {
    text-align: center;
    width: 1.25em
}

.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0
}

.fa-ul>li {
    position: relative
}

.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit
}

.fa-border {
    border: solid .08em #eee;
    border-radius: .1em;
    padding: .2em .25em .15em
}

.fa-pull-left {
    float: left
}

.fa-pull-right {
    float: right
}

.fa.fa-pull-left,
.fab.fa-pull-left,
.fal.fa-pull-left,
.far.fa-pull-left,
.fas.fa-pull-left {
    margin-right: .3em
}

.fa.fa-pull-right,
.fab.fa-pull-right,
.fal.fa-pull-right,
.far.fa-pull-right,
.fas.fa-pull-right {
    margin-left: .3em
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear
}

.fa-pulse {
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8)
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.fa-rotate-90 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.fa-rotate-180 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.fa-rotate-270 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

.fa-flip-vertical {
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1)
}

.fa-flip-both,
.fa-flip-horizontal.fa-flip-vertical {
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1)
}

:root .fa-flip-both,
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-rotate-90 {
    -webkit-filter: none;
    filter: none
}

.fa-stack {
    display: inline-block;
    height: 2em;
    position: relative;
    width: 2.5em
}

.fa-stack-1x,
.fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.svg-inline--fa.fa-stack-1x {
    height: 1em;
    width: 1.25em
}

.svg-inline--fa.fa-stack-2x {
    height: 2em;
    width: 2.5em
}

.fa-inverse {
    color: #fff
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.svg-inline--fa .fa-primary {
    fill: var(--fa-primary-color, currentColor);
    opacity: 1;
    opacity: var(--fa-primary-opacity, 1)
}

.svg-inline--fa .fa-secondary {
    fill: var(--fa-secondary-color, currentColor);
    opacity: .4;
    opacity: var(--fa-secondary-opacity, .4)
}

.svg-inline--fa.fa-swap-opacity .fa-primary {
    opacity: .4;
    opacity: var(--fa-secondary-opacity, .4)
}

.svg-inline--fa.fa-swap-opacity .fa-secondary {
    opacity: 1;
    opacity: var(--fa-primary-opacity, 1)
}

.svg-inline--fa mask .fa-primary,
.svg-inline--fa mask .fa-secondary {
    fill: #000
}

.fad.fa-inverse {
    color: #fff
}



header {
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    position: relative;
}

.header-row {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:600px) {
    .header-row {
        padding: 8px 0;

    }
}

.header-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.burger {
    background-color: transparent;
    border: none;
}

.burger span {
    margin-bottom: 6px;
    display: block;
    width: 22px;
    height: 2px;
    background-color: #101010;
}

.burger span:last-child {
    margin-bottom: 0;
}

.header__logo {
    display: flex !important;
    justify-content: center !important;
    width: 220px !important;
    margin-left: 40px;
}

.header__logo svg {
    width: 220px;
}

@media (max-width:600px) {
    .header__logo {
        width: 160px !important;
        margin-left: 10px;
        margin-right: auto;
    }

    .header__logo svg {
        width: 160px !important;
    }

    .header-item img {
        width: 30px;
        height: 30px;
    }
}


/*hide form verification icons*/
.form-control.is-invalid,
.was-validated .form-control:invalid,
.form-control.is-valid,
.was-validated .form-control:valid {
    background-size: calc(.75em + 1rem) calc(.75em + .375rem) !important;
}

.form-control.is-valid:focus,
.was-validated .form-control:valid:focus,
.form-control.is-invalid:focus,
.was-validated .form-control:invalid:focus {
    box-shadow: none !important;
}

.unedited-field {
    border-color: initial !important;
    background-image: none !important;
}

@media only screen and (max-width : 430px) {

    /*small countdown slider for mobile*/
    .slide-in.alert:not(.offer-ends) {
        display: flex;
        bottom: 0 !important;
        left: 0 !important;
        width: 100% !important;
        margin-bottom: 0;
        line-height: 24px;
        padding: 10px;
    }

    .slide-in.alert:not(.offer-ends) .close {
        order: 10;
        margin-left: auto;
    }

    .slide-in.alert:not(.offer-ends)>p {
        padding: 0 10px;
    }

    /*Bigger form for mobile*/
    #cart-form {
        margin: 30px 5px !important;
    }

    #cart-form .row-input {
        margin-bottom: 10px;
    }

    #cart-form .row-input input,
    #cart-form .row-input select {
        font-size: 0.88rem;
        height: 44px;
    }

    /* White background for mobile forms */
    .form-section {
        color: black !important;
        background: white;
        background-color: white !important;
    }
}

@media only screen and (max-width : 280px) {
    .slide-in.alert:not(.offer-ends) .close {
        order: 10;
        margin-left: 2vw;
    }
}

/*hide t&c on form*/
.div-terms {
    display: none;
}
            @font-face {
              font-family: 'LidlFontCondPro';
              src: url('assets/LidlFontCondPro-Regular.woff2') format('woff2');
              font-weight: normal;
              font-style: normal;
              font-display: swap;
            }
        
            @font-face {
              font-family: 'LidlFontCondPro';
              src: url('assets/LidlFontCondPro-Semibold.woff2') format('woff2');
              font-weight: 700;
              font-style: normal;
              font-display: swap;
            }
        
            @font-face {
              font-family: 'LidlFontCondPro';
              src: url('assets/LidlFontCondPro-Bold.woff2') format('woff2');
              font-weight: 800;
              font-style: normal;
              font-display: swap;
            }
        
            :root {
              --popup_border_radius: 0px;
              --general_layout_width: 1200px;
              --general_layout_spacing: 80px;
              --button_border_radius: 6px;
              --full_container_padding: 50px;
              --page_background_color: #fff;
              --title_color: #121b17;
              --main_color: #121b17;
              --detail_color: #121b17;
              --buying_parice_color: #D21936;
              --original_price_color: #FFFFFF;
              --discount_tag_bg: #AE2238;
              --discount_tag_color: #fff;
              --main_button_bg: #0050AA;
              --main_button_color: #fff;
              --secondary_button_bg: #fff;
              --secondary_button_color: #0050AA;
              --title_font_family: 'LidlFontCondPro';
              --general_font_family: 'LidlFontCondPro';
              --title_font_size: 32px;
              --general_font_size: 16px;
              --product_font_size: 13px;
              --big_product_font_size: 28px;
              --title_letter_spacing: 1pxpx;
              --nav_letter_spacing: 1pxpx;
              --product_img_cut: cover;
        
              --title_font_style: normal;
              --title_font_weigth: 400;
        
        
              --general_font_style: normal;
              --general_font_weigth: 400;
        
              --general_line_height: 1.5;
              --wap_title_scale: 0.75;
              --title_margin_bottom_scale: 0.75;
            }
          </style>
          <style>
            @font-face {
              font-family: "shopyy-iconfont";
              src: url("//at.alicdn.com/t/font_2896643_ob2tz19uygg.woff2?t=1635735739031") format("woff2"), url("//at.alicdn.com/t/font_2896643_ob2tz19uygg.woff?t=1635735739031") format("woff"), url("//at.alicdn.com/t/font_2896643_ob2tz19uygg.ttf?t=1635735739031") format("truetype")
            }
        
            .shopyy-iconfont {
              font-family: "shopyy-iconfont" !important;
              font-size: 16px;
              font-style: normal;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale
            }
        
            .shopyyicon-a-countdown2::before {
              content: ""
            }
        
            .shopyyicon-a-countdown3::before {
              content: ""
            }
        
            .shopyyicon-a-countdown5::before {
              content: ""
            }
        
            .shopyyicon-a-countdown1::before {
              content: "\231B"
            }
        
            .shopyyicon-a-countdown4::before {
              content: ""
            }
        
            #app_countdown_wrap {
              display: flex;
              align-items: center;
              justify-content: center;
              /* height: 44px; */
              background-color: #ffe5e9;
              border: 1px solid #ffe5e9
            }
        
            #app_countdown_wrap>.icon-container {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%
            }
        
            #app_countdown_wrap>.icon-container>.shopyy-iconfont {
              margin: 0 10px;
              font-size: 16px
            }
        
            #app_countdown_wrap>.text-container {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap
            }
        
            #app_countdown_wrap>.text-container .countTime {
              margin: 0 4px;
              font-weight: bold
            }
        
            #app_countdown_minicart_wrap {
              position: sticky;
              top: 80px;
              z-index: 1000;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 44px;
              background-color: #ffe5e9;
              border: 1px solid #ffe5e9
            }
        
            @media screen and (max-width: 767px) {
              #app_countdown_minicart_wrap {
                top: 60px
              }
            }
        
            #app_countdown_minicart_wrap>.icon-container {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%
            }
        
            #app_countdown_minicart_wrap>.icon-container>.shopyy-iconfont {
              margin: 0 10px;
              font-size: 16px
            }
        
            #app_countdown_minicart_wrap>.text-container {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap
            }
        
            #app_countdown_minicart_wrap>.text-container .countTime {
              margin: 0 4px;
              font-weight: bold
            }
        
            .app_goods_countdown-wrap {
              margin: 16px 0
            }
        
            .app_goods_countdown-wrap .content {
              position: relative;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              width: 100%;
              background-repeat: no-repeat;
              background-size: cover;
              border: 1px solid
            }
        
            @media screen and (max-width: 767px) {
              .app_goods_countdown-wrap .content {
                flex-direction: column;
                height: auto !important;
                padding: 12px 20px !important
              }
        
              .app_goods_countdown-wrap .content .text {
                align-items: center;
                justify-content: center;
                width: 100% !important;
                margin-bottom: 8px
              }
        
              .app_goods_countdown-wrap .content .text .text-content {
                width: auto !important;
                max-width: 70vw
              }
            }
        
            .app_goods_countdown-wrap .content .text {
              display: flex;
              flex: 1;
              align-items: center;
              width: calc(100% - 300px)
            }
        
            .app_goods_countdown-wrap .content .text i {
              margin-right: 6px;
              font-size: inherit
            }
        
            .app_goods_countdown-wrap .content .text .text-content {
              width: 100%;
              overflow: hidden;
              font-size: inherit;
              text-overflow: ellipsis;
              white-space: nowrap
            }
        
            .app_goods_countdown-wrap .content .time {
              z-index: 10;
              display: grid
            }
        
            .app_goods_countdown-wrap .content .time.none .h,
            .app_goods_countdown-wrap .content .time.none .m,
            .app_goods_countdown-wrap .content .time.none .s {
              justify-content: center
            }
        
            .app_goods_countdown-wrap .content .time.none .h>div:nth-child(2),
            .app_goods_countdown-wrap .content .time.none .m>div:nth-child(2),
            .app_goods_countdown-wrap .content .time.none .s>div:nth-child(2) {
              display: none
            }
        
            .app_goods_countdown-wrap .content .time .h,
            .app_goods_countdown-wrap .content .time .s,
            .app_goods_countdown-wrap .content .time .m {
              box-sizing: border-box;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              padding: 8px 0;
              color: #f95a5a;
              background-color: rgba(255, 255, 255, .95);
              border-radius: 5px
            }
        
            .app_goods_countdown-wrap .content .time .h>div:nth-child(1),
            .app_goods_countdown-wrap .content .time .s>div:nth-child(1),
            .app_goods_countdown-wrap .content .time .m>div:nth-child(1) {
              font-size: 16px;
              font-weight: bold
            }
        
            .app_goods_countdown-wrap .content .time .h>div:nth-child(2),
            .app_goods_countdown-wrap .content .time .s>div:nth-child(2),
            .app_goods_countdown-wrap .content .time .m>div:nth-child(2) {
              box-sizing: border-box;
              width: 100%;
              padding: 0 10%;
              overflow: hidden;
              font-size: 12px;
              text-align: center;
              text-overflow: ellipsis;
              white-space: nowrap
            }
        
            .app_goods_countdown-wrap .content .mask {
              position: absolute;
              top: 0;
              left: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              background-color: #000;
              opacity: .15
            }
        
            .app_goods_countdown-wrap .default-size {
              padding: 10px 20px
            }
        
            .app_goods_countdown-wrap .default-size .time {
              grid-template-rows: 50px;
              grid-template-columns: 50px 50px 50px;
              grid-column-gap: 12px;
              margin-left: 8px
            }
        
            .app_goods_countdown-wrap .default-size .time .h,
            .app_goods_countdown-wrap .default-size .time .m,
            .app_goods_countdown-wrap .default-size .time .s {
              line-height: 16px
            }
        
            .app_goods_countdown-wrap .big-size {
              padding: 10px 20px
            }
        
            .app_goods_countdown-wrap .big-size .time {
              grid-template-rows: 60px;
              grid-template-columns: 60px 60px 60px;
              grid-column-gap: 11px;
              margin-left: 8px
            }
        
            .app_goods_countdown-wrap .small-size {
              padding: 6px 20px
            }
        
            .app_goods_countdown-wrap .small-size .time {
              grid-template-rows: 44px;
              grid-template-columns: 44px 44px 44px;
              grid-column-gap: 8px;
              margin-left: 8px
            }
        
            .app_goods_countdown-wrap .small-size .time .h,
            .app_goods_countdown-wrap .small-size .time .m,
            .app_goods_countdown-wrap .small-size .time .s {
              padding: 0;
              line-height: 14px
            }
        
            .app_goods_countdown-wrap .small-size .time .h>div:nth-child(1),
            .app_goods_countdown-wrap .small-size .time .m>div:nth-child(1),
            .app_goods_countdown-wrap .small-size .time .s>div:nth-child(1) {
              font-size: 14px
            }
        
            .bg-content {
              padding: 24px
            }
        
            .bg-content .bg-content-ul {
              max-height: 400px;
              overflow: auto;
              list-style: none
            }
        
            .bg-content .bg-content-ul li {
              position: relative;
              margin-bottom: 12px;
              cursor: pointer
            }
        
            .bg-content .bg-content-ul li:nth-last-child(1) {
              margin-bottom: 0
            }
        
            .bg-content .bg-content-ul li svg {
              position: absolute;
              top: 0;
              right: 0;
              z-index: 1;
              display: none;
              width: 30px;
              height: 30px
            }
        
            .bg-content .bg-content-ul li.active .mask {
              position: absolute;
              top: 0;
              left: 0;
              display: block;
              width: 100%;
              height: 100%;
              border: 2px solid #2a6bf1
            }
        
            .bg-content .bg-content-ul li.active>svg {
              display: block
            }
            .placeholder {
                background: white;
            }